.contact{
    scroll-margin-top: 3em;
}

.contact-card{
    display: flex;
    width: 100%;
    gap: 2em;
    align-items: center;
    border-radius: 16px;
    padding: 1em;
    background-color: var(--cards-bg);
    box-shadow: 1px 1px 1px var(--main-components);
}

.contact-card:hover{
    border: 1px solid var(--main-components);
    box-shadow: 1px 1px 1px 1px var(--main-components);
}

.icon-bg{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--main-components);
}

#freelance{
    padding: 8px;
    border: 1px solid greenyellow;
    color: greenyellow;
    background-color: rgba(172, 255, 47, 0.250);
    border-radius: 16px;
}

#fulltime{
    padding: 8px;
    border: 1px solid purple;
    color: purple;
    background-color: rgba(128, 0, 128, 0.250);
    border-radius: 16px;
}

#practice{
    padding: 8px;
    border: 1px solid blue;
    color: blue;
    background-color: rgba(0, 0, 255, 0.250);
    border-radius: 16px;
}

.contact-article{
    height: 250px;
}

.article-container{
    padding: 1em;
    border-radius: 16px;
    box-shadow: 1px 1px 1px var(--main-components);
    background-color: var(--cards-bg);
}



@media (max-width: 767px){
    .container-flex{
        flex-direction: column;
        gap: 2em;
    }

    .contact-container{
        justify-content: center;
    }
}

@media (max-width: 576px){
    .contact-card{
        width: 100%;
    }
}